.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    height: 100px;
}

.submit {
    width: 200px;
}

.formContainer textarea {
    resize: none;
    height: 300px;
}

.messagesContainer {
    margin: 30px 0;
    width: 500px;
}

.message {
    border-bottom: white solid 1px;
    border-top: white solid 1px;
    
}

.formButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.messageInfo {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}
.messageInfo div {
    display: flex;
}

.messageContent {
    margin: 0 30px;
}

.messageContent p {
    margin: 0 0 16px 0;
    max-width: 500px;
}